<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>Site is updating... Be patient</p>

    {{> footer}}
  </body>
</html>
